.c {
  border-width: 1px;
  border-style: solid;
  width: 300px;
  padding: 20px 20px;
}
.question {
  margin: 0 0 15px 0;
}
/* ================================ */
.install {
  width: 300px;
  padding: 20px 20px;
  background-color: rgb(53, 53, 53);
}
.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 20px;
  margin: 0 0 10px;
}
.content {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(198, 198, 198);
  font-size: 14px;
  margin: 0;
}
/* ====================================== */
.tweet-div {
  width: 300px;
  padding: 10px 20px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.331);
}
.cat-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
  vertical-align: middle;
}
.search-bar {
  font-size: 14px;
  padding: 8px 10px;
  border: none;
  width: 150px;
}
.tweet {
  background-color: rgb(0, 121, 227);
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  padding: 8px 15px;
}
/* ====================================== */
.add-frined {
  display: inline-block;
  width: 120px;
  margin: 0 10px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.46);
}
.kitten {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 2px 0 5px 5px;
}
.mutual {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 0 10px 5px;
  color: gray;
}
.add-btn {
  background-color: rgb(1, 93, 205);
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  padding: 6px 14px;
  margin: 0 0 5px 5px;
}
/* ==================================== */
.logo {
  width: 200px;
  margin-bottom: 10px;
}
.search {
  width: 400px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  margin: 0 0 20px 0;
}
.search-btn {
  background-color: rgb(220, 220, 220);
  border: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 15px;
  margin: 0 4px 0 4px;
}
.search-div {
  text-align: center;
}
